@charset = "utf-8";

@font-face{
	font-family: accid;
	src: url("../fontes/accidental_presiden/accid___.ttf");
}

.erro {
	color:rgb(255,0,0);
	
}
.fixed {
    position:fixed;
    top:20px;
    overflow:hidden;
    margin: auto;
    width:70%;
}

body{
    background-image: url("../figures/background.jpg");
    padding:0px;
    font-family:Arial;/*devine arial como fonte para tudo mas certas coisas não vão ser arial(eu acho por hora)*/
    font-size:18px;
    margin:0;
}
div#main{/*main é a classe princiál que engloba todas as outras*/
    background-color:rgba(250,250,250,0);
    width:70%;
    margin:0 auto;
    padding:0px 0px 0px 0px;
/*    border:1px solid #e3e3e3;/*a borda vai ser retirada, está agora para ter noção de espaocupado*/
}

header{
    background-color:rgb(255,255,255);
    font-family:accid;
    margin:-40px 0px 0px 0px;/*esse menos -40 ta bem porco, mas foi a melhor maneira q encontrei*/
    padding: 0px;
}
header h1{
    font-weight:normal;
    text-align:center;
    letter-spacing:15px;
    font-size:70px;
}

nav#menutop{
    text-align: center;
    display:block;
    margin:-40px 0px 0px 0px;/*mais uma vez esse -40 esta me incomodando*/
}
nav#menutop ul{
    list-style:none;
    top:0px;
    right:0px;
    background-color:rgb(176,196,222);
    padding:5px;
}
nav#menutop li{
    display:inline-block;
    padding:3px;
    margin:1px;    
}
nav#menutop a{
    color:rgb(50,50,50);
    text-decoration:none;
    padding:10px;
}
nav#menutop a:hover{
    color:rgb(0,0,0);
    background-color:rgb(186,216,232);
}
nav#menutop h1{
    display:none;
}
div#content{
    background-color:rgb(255,255,255);
	padding:10px;
}
footer{
    border-top:1px solid black;
    background-color:rgb(100,100,100);
    clear:both;
    padding:10px 0px 10px 0px;
}
footer p{
    text-align:center;
}






article.obra{
	margin:10px 0px 20px 0px;
}
article.obra td{
	border-bottom:1px solid rgb(150,150,150);
}
article.obra table{
	border:1px solid rgb(150,150,150);
	
}article.obra img{
	width:200px;
}
article.obra a{
	background-color:rgb(176,196,222);
    color:rgb(50,50,50);
    text-decoration:none;
    padding:10px;
}article.obra a:hover{
	color:rgb(0,0,0);
    background-color:rgb(186,216,232);
}
.comentario{
	border-bottom:1px solid rgb(150,150,150);
}



table#userslist {

	
}table#userslist th{
	border-bottom:1px solid black;
	border-right:1px solid black;
	font-size:16px;
	background-color:rgb(150,150,150);
	
}table#userslist td{
	font-size:16px;
	
}table#userslist tr:nth-child(even) {
  background-color: rgb(200,200,200);
}
table#userslist tr:nth-child(odd) {
  background-color: rgb(245,245,245);
}


/*referencia http://www.sanwebe.com/2014/08/css-html-forms-designs*/


.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=password],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=password]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
